 li {
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    font-family: 'Roboto';
    display: inline-block;
    margin-right: 35px;
    vertical-align: middle;
 }
 .container {
    width: 1165px;
    margin: 0 auto;
 }
 .user {
    display: inline-block;
    vertical-align: middle;
}
nav {
    display: inline-block;
    margin-top: 11px;
}
h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Roboto';
    margin-bottom: 27px;
}
.s1 {
    margin-top: 40px;
}
body {
    background-color: #F5F5F5;;
}
.card {
    display: inline-block;
    vertical-align: bottom;
}
.cardpic {
    width: 362px;
    height: 186px;
    position: absolute;
    border-radius: 5px 5px 0px 0px;
}
.cardunder {
    width: 362px;
    height: 171px;
    background-color: #FFFFFF;
    display: inline-block;
    margin-top: 186px;
    border-radius: 0px 0px 5px 5px;
    position: absolute;
}
h2 {
    position: absolute;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: 32px;
    margin-left: 41px;
}
.cardunderp1 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #8A8787;
    margin-top: 68px;
    margin-left: 37px;
}
.time {
    margin-left: 40px;
    vertical-align: middle;
    margin-right: 11px;
}
.cardunderp2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    color: #8A8787;
    display: inline-block;
}
.card2 {
    display: inline-block;
    margin-left: 402px;
    vertical-align: bottom;
}
.card3 {
    display: inline-block;
    margin-left: 804px;
    vertical-align: top;
}
.s2p {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-top: 400px;
}
.bigpics {
    display: inline-block;
    position: absolute;
    width: 758px;
    height: 430px;
    border-radius: 5px;
}
.bigpic2 {
    margin-top: 472px;
}
.bigpic1p {
    position: absolute;
    width: 202px;
    height: 23px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    display: inline-block;
    top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.bigpic1 {
    position: relative;
    width: 202px;
    height: 23px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
}
.firstpic {
    display: inline-block;
    width: 362px;
    height: 212px;
    border-radius: 5px;
    margin-left: 803px;
    margin-bottom: 100px;
}
footer {
    height: 201px;
    background: #243043;
}
.foter {
    width: 33px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #818687;
    display: inline-block;
    margin-top: 87px;
}
.fiter {
    width: 33px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #818687;
    display: inline-block;
    margin-top: 59px;
}
.tfisdat {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #FFFFFF;
    position: absolute;
    display: inline-block;
    margin-left: 400px;
    margin-top: 59px;
}
.fata {
    position: absolute;
}
.fater {
    width: 33px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #818687;
    display: inline-block;
    margin-top: 115px;
}
.feter {
    width: 33px;
    height: 14px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #818687;
    display: inline-block;
    margin-top: 143px;
}
.geolablogo {
    margin-left: 100%;
    margin-top: 58px;
}